*,body,html {
    margin: 0;
}

body {
    margin:0;
    padding:10px;
    background:-o-linear-gradient(to top left, #fb1d51, #f6ca53);
    background:-webkit-linear-gradient(to top left, #fb1d51, #f6ca53);
    background:-moz-linear-gradient(to top left, #fb1d51, #f6ca53);
    background:linear-gradient(to top left, #fb1d51, #f6ca53);
}

#badan {
    width:1200px;
    border:2px solid black;
    margin:0 auto;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow:1px 1px 1px 5px #ededed;
}

#header {
    padding : 10px 10px;
    height: 135px;
    font-family: 'Tekton Pro';
    text-align:center;
    color: white;
    text-shadow: 1px 1px 1px #ff5959;
}

#header h1 {
    font-size:30px;
    margin:0 auto;
    width:900px;
}

#header h2 {
    font-size: 16px;
    margin: 0;
    font-family: 'Lucida Calligraphy';
    width: 900px;
    margin:0 auto;
}

#header img {
    float:left;
    margin: 0 auto;
    width:130px;
    height: 130px;
}

#menu {
    height: 45px;
    border:1px solid black;
    line-height: 45px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #efefef, #665753);
}

#menu ul {
    list-style-type: none;
    font-family: 'Arial Unicode MS';
    margin: 0;
    padding: 0;
}

#menu ul li {
    float:left;
    display: block;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px yellow;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu ul li a:hover {
    color: orange;
    text-shadow: 1px 1px 1px white;
}

#konten {
    font-family: 'palatino linotype', 'book antiqua', palatino, serif;
    border: 1px solid black;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 5px;
}

#konten h3 {
    font-size: 18px;
    margin: 0;
    background: linear-gradient(-90deg, #fff791, #beffae);
    padding: 5px;
    border-radius: 5px;
}

#kiri {
    width: 170px;
    float: left;
    border: 2px solid yellow;
    margin-right: 5px;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
    padding: 5px;
}

#kiri ul {
    font-family: "comic sans MS", cursive;
    margin:0 10px 10px 20px;
    list-style-type: none;
    padding: 25px;
}

#kiri ul li {
    list-style-image: url(/assets/umi.png);
    border-bottom: 1px dashed #cccccc;
    height: 25px;
    line-height: 25px;
}

#kiri ul li a {
    text-decoration: none;
    color: #fb2f57;
}

#tengah {
    border: 2px solid yellow;
    width: 785px;
    float:left;
    margin-right: 5px;
    text-align: left;
    border-radius: 10px;
    word-wrap: break-word;
    padding:10px;
}

#tengah p {
    text-indent: 20px;
    text-align: justify;

}

#kanan {
    border:2px solid yellow;
    float: left;
    width: 170px;
    padding: 5px;
    border-radius: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    word-wrap: break-word;
}
   
#kanan p {
    font-size: 13px;
    padding: 0;
    text-align: justify;
    margin-bottom: 5px;
}

#footer p {
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    padding: 10px;
    line-height: 30px;
    background: linear-gradient(to top, #efefef, #665753);
}

#footer p {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}
